<div class="secondary-navigation">
  <ul class="wat-cf">
    <li><a href="<%= admin_panel_admins_path %>">Список</a></li>
    <li><a href="<%= new_admin_registration_path %>">Добавить</a></li>
  </ul>
</div>

<h2 class="title">Администраторы</h2>

<table id='tablecontent' class="table">
  <tr>
    <th class="first">E-mail</th>
    <th>Дата последнего посещения</th>
    <th class="last"></th>
  </tr>

  <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.email %></td>
        <td><%= admin.last_sign_in_at%></td>
        <td class='links_column'><%#= link_to 'Show', admin_panel_company_path(company) %>
          <%#= link_to 'Edit', edit_admin_panel_company_path(company) %>
          <%= link_to 'Удалить', admin_panel_admin_path(admin), :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<script>
  alternateTableRowsColor('tablecontent');
</script>