.inlineDiv
  %p
    = f.label 'Производитель'
    = f.select 'company_id', @companies.collect { |p| [p.name, p.id] }

  %p
    = f.label 'Категория'
    = f.select 'group_id', @groups.collect { |p| [p.name, p.id] }

  %p
    = f.label 'Наименование'
    = f.text_field :title

  %p
    = f.label 'Описание'
    = f.text_area :description

  %p
    %br
    %p= link_to_function "Добавить изображение", 'addFileField();'
    .photo_fields
      %input{:type=>"file", :name=>"photos[0][photo]"}
    %br
    %br

  %p
