= form_for @product, {:url => admin_panel_product_path, :html => {:multipart => true} } do |f|
  =render :partial => 'form', :locals => {:f => f}
  = f.submit 'Обновить'

#images-list
  -@product.photos.each do |p|
    -unless p.new_record?
      %p
        = link_to image_tag(p.photo.url(:medium))
        = link_to_function 'Удалить', "deletePhoto($(this),'#{admin_panel_photo_path(p)}','#{form_authenticity_token}')"