%div.secondary-navigation
  %ul.wat-cf
    %li
      = link_to 'Перечень', admin_panel_products_path
    %li
      = link_to 'Добавить', new_admin_panel_product_path

%h2.title Товары

%table#tablecontent.table
  %tr.sortheader
    %th.first= sort_link @search, :company_id, "Производитель"
    %th= sort_link @search, :group_id, "Категория"
    %th= sort_link @search, :title, "Наименование"
    %th= sort_link @search, :description, "Описание"
    %th= sort_link @search, :price, "Цена"
    %th= sort_link @search, :status, "Статус"
    %th.last

  -@products.each do |product|
    %tr{:class => cycle("odd", "even")}
      %td=link_to product.company.name, admin_panel_product_path(product)
      %td=product.group.name
      %td=product.title
      %td=product.description[0,25]+"..."
      %td=product.price
      %td=product.status

      %td.links_column
        = link_to 'Редактировать', edit_admin_panel_product_path(product)
        = link_to 'Удалить', admin_panel_product_path(product), :confirm => 'Are you sure?', :method => :delete

.pagine
  %div
    = will_paginate @products
    .clear