<div>
  <p>Company : <%= @product.company.name %></p>
</div>

<div>
  <p>Group : <%= @product.group.name %></p>
</div>

<div>
  <p>Title : <%= @product.title %></p>
</div>

<div>
  <p>Description :</p>
  <%= @product.description %>
</div><br/>

<%= link_to 'Edit', edit_admin_panel_product_path %>
<%= link_to 'Back', admin_panel_products_path %>
