    <table>
      <tr>
        <th>Title</th>

        <th></th>
        <th></th>
        <th></th>
      </tr>

        <% @companies.each do |company| %>
                      <tr>
                    <td><%= company.name %></td>
                    <td><%= link_to 'Show', admin_company_path(company) %></td>
                    <td><%= link_to 'Edit', edit_admin_company_path(company) %></td>
                    <td><%= link_to 'Destroy', admin_company_path(company), :confirm => 'Are you sure?', :method => :delete %></td>
                  </tr>
        <% end %>
    </table>

    <%=link_to 'Add company', new_admin_company_path %>