<div class="secondary-navigation">
  <ul class="wat-cf">
    <li><a href="<%= admin_companies_path %>">Перечень</a></li>
    <li><a href="<%= new_admin_company_path %>">Добавить</a></li>
  </ul>
</div>

<h2 class="title">Производители</h2>

<table id='tablecontent' class="table">
  <tr>
    <th class="first">Название</th>
    <th class="last"></th>
  </tr>

  <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td class='links_column'><%= link_to 'Перейти', admin_company_path(company) %>
          <%= link_to 'Редактировать', edit_admin_company_path(company) %>
          <%= link_to 'Удалить', admin_company_path(company), :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<script>
  alternateTableRowsColor('tablecontent');
</script>