<div class="secondary-navigation">
  <ul class="wat-cf">
    <li><a href="<%= admin_companies_path %>">List</a></li>
    <li><a href="<%= new_admin_company_path %>">Add new</a></li>
  </ul>
</div>

<h2 class="title">All Companies</h2>

<table class="table">
  <tr>
    <th class="first">Title</th>

    <th></th>
    <th></th>
    <th class="last"></th>
  </tr>

  <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= link_to 'Show', admin_company_path(company) %>
          <%= link_to 'Edit', edit_admin_company_path(company) %>
          <%= link_to 'Destroy', admin_company_path(company), :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>