#order_items_table
  -if @keys.count>0
    -price=0
    %p В корзине :
    %table#cart_table
      %tr
        %th.off Товар
        %th.off Количество
        %th.off Цена за еденицу
        %th.off Цена по позиции
        %th.off
        %th.off
        %th.off

      -@keys.each do |key|
        - curr_ed_price = @prices[key]
        - curr_price = curr_ed_price*@items[key].to_i()
        - price=price+curr_price

        - title = @titles[key]
        %tr{:id => "order_items_row#{key}", :class => "order_items_row"}
          %td.off
            =link_to(title,product_path(key))
          %td.off.count_of_order_item
            =@items[key]
          %td.off.price_of_order_item
            =curr_ed_price
          %td.off.sum_price_of_order_item
            =curr_price.to_s()
          %td.off
            =link_to_function "+","addToCart('#{key}','1','#{title}','#{curr_ed_price}')"
          %td.off
            =link_to_function "-","addToCart('#{key}','-1','#{title}','#{curr_ed_price}')"
          %td.off
            =link_to_function "x","deleteCartItem('#{key}')"
      %tr.up_border
        %td.off
          Всего :
        %td.off
        %td.off
        %td.off#order_common_price=price.to_s()

    %br
    -if user_signed_in?
      .cart_control_links
        = link_to 'Оформить',orders_path,:id=>'accept_order',:method =>"post"
        = link_to 'Отменить',shop_cart_path(:id),:id=>'cancel_order',:method => "delete"