<%= form_for @product, :url => admin_product_path do |f| %>
    <div>
      <%= f.label 'Company' %>
      <%= f.select 'company_id', @companies.collect { |p| [p.name, p.id] } %>
    </div>

    <div>
      <%= f.label 'Group' %>
      <%= f.select 'group_id', @groups.collect { |p| [p.name, p.id] } %>
    </div>

    <div>
      <%= f.label 'Title' %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label 'Description' %>
      <%= f.text_area :description %>
    </div>

    <%= f.submit 'Update product info' %>
<% end %>