<%= form_for @product, :url => admin_product_path do |pos| %>
    <div>
      <%= pos.label 'Company' %>
      <%= pos.select 'company_id', @companies.collect { |p| [p.name, p.id] } %>
    </div>

    <div>
      <%= pos.label 'Group' %>
      <%= pos.select 'group_id', @groups.collect { |p| [p.name, p.id] } %>
    </div>

    <div>
      <%= pos.label 'Title' %>
      <%= pos.text_field :title %>
    </div>

    <div>
      <%= pos.label 'Description' %>
      <%= pos.text_area :description %>
    </div>

    <%= pos.submit 'Update product info' %>
<% end %>