<div class="secondary-navigation">
  <ul class="wat-cf">
    <li><a href="<%= admin_products_path %>">Перечень</a></li>
    <li><a href="<%= new_admin_product_path %>">Добавить</a></li>
  </ul>
</div>

<h2 class="title">Товары</h2>

<table id='tablecontent' class="table">
  <tr>
    <th class="first">Производитель</th>
    <th>Категория</th>
    <th>Наименование</th>
    <th>Описание</th>
    <th class="last"></th>
  </tr>

  <% @products.each do |product| %>
      <tr>
        <td><%= product.company.name %></td>
        <td><%= product.group.name %></td>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td class='links_column'><%= link_to 'Перейти', admin_product_path(product) %>
          <%= link_to 'Редактировать', edit_admin_product_path(product) %>
          <%= link_to 'Удалить', admin_product_path(product), :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<script>
  alternateTableRowsColor('tablecontent');
</script>