       <div class="secondary-navigation">
        <ul class="wat-cf">
          <li><a href="<%=admin_products_path%>">List</a></li>
          <li><a href="<%=new_admin_product_path%>">Add new</a></li>
        </ul>
      </div>

       <h2 class="title">All Products</h2>

    <table  class="table">
      <tr>
        <th  class="first">Company</th>
        <th>Group</th>
        <th>Title</th>
        <th>Description</th>

        <th></th>
        <th></th>
        <th  class="last"></th>
      </tr>

        <% @products.each do |product| %>
                      <tr>
                    <td><%= product.company.name %></td>
                    <td><%= product.group.name %></td>
                    <td><%= product.title %></td>
                    <td><%= product.description %></td>
                    <td><%= link_to 'Show', admin_product_path(product) %></td>
                    <td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
                    <td><%= link_to 'Destroy', admin_product_path(product), :confirm => 'Are you sure?', :method => :delete %></td>
                  </tr>
        <% end %>
    </table>