.centerprod
  .pages Новинки интернет-магазина:
  %h6
  - @products.each do |product|
    .newprod_center
      .img
        = link_to (image_tag product.photos.first.photo.url(:thumb)), company_group_product_path(product.company,product.group,product) if product.photos.first
      .prodinfo
        %p #{product.title}
        %p Цена : #{product.price}
        %p= link_to_function "Добавить в корзину","addToCart('#{product.id}','1','#{product.title}','#{product.price}')"
.pagine
  %div
    = will_paginate @products
    .clear