.centerprod
  %h6.title
    =link_to @company.name,company_path(@company)
    >>
    =link_to @group.name,group_path(@group)
    >>#{@product.title}

  %table
    %tr
      %td
        %table
          %tr
            %td{:rowspan=>4, :class=>"big_picture"}
              = image_tag @product.photos.first.photo.url(:medium)

          - if @product.photos.length>1
            - (0..(@product.photos.length-1>2 ? 2 : @product.photos.length-1)).each do |index|
              %tr
                %td{:class=>"small_picture"+index.to_s,:onmouseover=>"jQuery('.big_picture > img').attr('src', $(this).attr('scr'))", :onmouseout=>"jQuery('.big_picture > img').attr('src', $('small_picture0 > img').attr('scr'))"}
                  = image_tag @product.photos[index].photo.url(:medium)
      %td

      .add_to_cart_top
        %p #{@product.price.to_s}&nbsp&nbsp&nbsp&nbsp&nbsp#{link_to_function "Купить","addToCart('#{@product.id}','1','#{@product.title}','#{@product.price}')"}
      %div
        %p Company : #{@product.company.name}
        %p Group : #{@product.group.name}
        %p Title : #{@product.title}
        %p Description : #{@product.description}
      .add_to_cart_bottom
        %p #{@product.price.to_s}&nbsp&nbsp&nbsp&nbsp&nbsp#{link_to_function "Купить","addToCart('#{@product.id}','1','#{@product.title}','#{@product.price}')"}
  %h6 Отзывы

  .backcalls
    - @product.backcalls.each do |backcall|
      =render :partial => 'backcall', :locals=>{:backcall => backcall}

  .backcall_form
    %h5.errors
    =form_for 'backcall' , :url => backcalls_path, :html=> {:id =>'backcall_form'}  do |f|
      =f.hidden_field :product, :value => @product.id
      =f.text_area :message, :width=>'20', :rows => '10'
      %br
      #captcha_fields
        =render :partial => 'captcha'
      =f.submit 'Отправить'
