.centerprod
  %h6.title
    =link_to @company.name,company_path(@company)
    >>
    =link_to @group.name,group_path(@group)
    >>#{@product.title}

  #photo_box
    #flickit.svwp4
      %ul
        -@product.photos.each do |p|
          %li
            = image_tag p.photo.url(:medium) if p.photo

  #description_box
    .buy_box
      Цена: #{@product.price}
      =button_to_function "Купить", "addToCart('#{@product.id}','1','#{@product.title}','#{@product.price}')"
    %p=raw @product.description
    .buy_box
      Цена: #{@product.price}
      =button_to_function "Купить", "addToCart('#{@product.id}','1','#{@product.title}','#{@product.price}')"

  .clear

  %h6 Отзывы

  .backcalls
    - @product.backcalls.each do |backcall|
      =render :partial => 'backcall', :locals=>{:backcall => backcall}

  .backcall_form
    %h5.errors
    =form_for 'backcall' , :url => backcalls_path, :html=> {:id =>'backcall_form'}  do |f|
      =f.hidden_field :product, :value => @product.id
      =f.text_area :message, :width=>'20', :rows => '10'
      %br
      #captcha_fields
        =render :partial => 'captcha'
      =f.submit 'Отправить'
