<!DOCTYPE html>
<html>
<head>
  <title>Авто портал</title>
  <%= stylesheet_link_tag :application %>
  <%= stylesheet_link_tag :custom %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
  <div id="header">
    <h1><a href="/">Авто портал</a></h1>

    <div id="user-navigation">
      <ul class="wat-cf">
        <li><a href="<%=edit_admin_panel_registration_path%>"><%= t("web-app-theme.profile", :default => "Профиль") %></a></li>
        <li style="display:none;"><a href="#"><%= t("web-app-theme.settings", :default => "Настройки") %></a></li>
        <li><a href="<%=destroy_admin_panel_session_path%>" class="logout"><%= t("web-app-theme.logout", :default => "Выход") %></a></li>
      </ul>
    </div>
    <div id="main-navigation">
      <ul class="wat-cf">
        <li><a href="<%= admin_panel_companies_path %>">Компании</a></li>
        <li><a href="<%= admin_panel_groups_path %>">Категории</a></li>
        <li><a href="<%= admin_panel_products_path %>">Товары</a></li>

        <li class='delimiter'>_</li>

        <li><a href="<%= admin_panel_admins_path %>">Администраторы</a></li>
        <li><a href="<%= admin_panel_users_path %>">Пользователи</a></li>
      </ul>
    </div>
  </div>
  <div id="wrapper" class="wat-cf">
    <div class="flash">
      <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
      <% end -%>
    </div>
    <div id="main" class="content">
      <%= yield %>
      <div id="footer">
        <div class="block">
          <p>Copyright &copy; <%= Time.now.year %> Web App.</p>
        </div>
      </div>
    </div>
    <div id="sidebar">
      <%= yield :sidebar %>
    </div>
  </div>
</div>
</body>
</html>
