!!!
%html
  %head
    %title Авто магазин
    = stylesheet_link_tag :admin_panel
    :javascript
      var CKEDITOR_BASEPATH = '/assets/ckeditor/';
    = javascript_include_tag "admin_panel/admin"
    = csrf_meta_tag
  %body
    #container
      #header
        %h1
          =link_to 'Авто портал', '/'

        #user-navigation
          %ul.wat-cf
            %li
              -#=link_to 'Профиль', edit_admin_registration_path
            %li
              =link_to 'Выход', destroy_admin_session_path, {:class=>"logout"}

        #main-navigation
          %ul.wat-cf
            %li{has_active_class?(admin_panel_companies_path)}
              =link_to 'Производители',admin_panel_companies_path

            %li{has_active_class?(admin_panel_groups_path)}
              =link_to 'Категории',admin_panel_groups_path

            %li{has_active_class?(admin_panel_products_path)}
              =link_to 'Товары', admin_panel_products_path

            %li{has_active_class?(admin_panel_admins_path)}
              =link_to 'Администраторы', admin_panel_admins_path

            %li{has_active_class?(admin_panel_users_path)}
              =link_to 'Пользователи', admin_panel_users_path

            %li{has_active_class?(admin_panel_photos_path)}
              =link_to 'Картинки', admin_panel_photos_path

            %li{has_active_class?(admin_panel_orders_path)}
              =link_to 'Заказы', admin_panel_orders_path

            %li{has_active_class?(admin_panel_backcalls_path)}
              =link_to 'Отзывы', admin_panel_backcalls_path

      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            .message{:class => "#{type}"}
              %p #{message}


        #main.content
          .block
            .content
              = yield

        #sidebar
          -#= yield :sidebar
      #footer
        .block
          %p= link_to("© Copyright 2009-#{Time.now.year} Face IT",'http://faceit-team.com/',:style => 'text-decoration: none; color:#e8e8e8;')
