<!DOCTYPE html>
<html>
<head>
  <title>Авто портал</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="navigation">
  <ul>
    <li><a href="#"><%= t(admin_products_path, :default => "Товары") %></a></li>
    <li><a href="#"><%= t(admin_groups_path, :default => "Категории") %></a></li>
    <li><a href="#"><%= t(admin_companies_path, :default => "Компании") %></a></li>
  </ul>
</div>

<%= yield %>

</body>
</html>
