!!!
%html{:dir => "ltr", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Авто магазин
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "", :name => "keywords"}/
    %meta{:content => "", :name => "description"}/
    = javascript_include_tag :application
    = stylesheet_link_tag :application
  %body
    / main styles
    .main.index
      / H E A D E R  start
      .header
        %a.logo{:href => "/"} Авто магазин
        .h-search
          .rel
            -form_tag('/products/:id/search',:id => 'mainForm', :method => "get")
            =text_field_tag("search_req","", :class =>'h-field')
            =submit_tag("",:class => 'h-but')
      / H E A D E R  end
      / C O N T E N T  start
      .content
        / L E F T start
        .left
          %h6
            = link_to_function "Группы","showCategory('#groups')"
            |
            = link_to_function "Бренды","showCategory('#brends')"
          .block.l-menu
            %div
              %div#groups.category
                %ul
                - @groups.each do |group|
                  %li= link_to group.name, group_path(group)
              %div#brends.category{:style => "display:none"}
                - @companies.each do |company|
                  %li= link_to company.name, company_path(company)
        / L E F T end
        / C E N T E R  start
        .center
          = yield
          .clear
        / C E N T E R  end
        / R I G H T
        .right

          #user_panel.block
            - if user_signed_in?
              =link_to('Выход',destroy_user_session_path)
              =link_to('Заказы',orders_path)
            - else
              =link_to('Зарегистрироватся',new_user_registration_path)
              -#=link_to('Авторизоватся',new_user_session_path)

              = form_for(:user, :as => 'user', :url => '/users/sign_in') do |f|
                %p
                  = f.label :email
                  = f.text_field :email
                %p
                  = f.label :password
                  = f.password_field :password
                -#- if devise_mapping.rememberable?
                -#  %p
                -#  = f.check_box :remember_me
                -#  = f.label :remember_me
                = f.submit "Войти"

            #cart
              #cart_box
                %a{:href=>cart_items_shop_cart_path(:id), :id=> 'cart_box_list'}
                  %img{:width=>"80",:height=>"60",:border=>"0",:src=>"/assets/shopping_cart.png", :alt=>"", :id=> 'cart_box_list_img'}
              %br

              #cart_info
                %p#order_pos_count Позиций : #{$redis.hlen(@authcookie)}
                %p#order_sum Сумма : #{order_summ()}

              - if $redis.hlen(@authcookie)>0
                %br
                = link_to 'Оформить',accept_order_path(:id),:id=>'accept_order'
                = link_to 'Отменить',cancel_order_path(:id),:id=>'cancel_order'

              -##cart_items
                = render :template => 'shop_carts/add_to_cart', :layout => false
            .clear

          %h6 The main thing for the day
          .block.items
            %ul
              %li
                %a{:href => "#"}
                  %img{:alt => "", :height => "78", :src => "images/pic002.gif", :width => "78"}/
                %p In Japanese products have found elevated levels of radiation
                .more
                  %a{:href => "#"} more
              %li
                %a{:href => "#"}
                  %img{:alt => "", :height => "78", :src => "images/pic002.gif", :width => "78"}/
                %p In Japanese products have found elevated levels of radiation
                .more
                  %a{:href => "#"} more
              %li
                %a{:href => "#"}
                  %img{:alt => "", :height => "78", :src => "images/pic002.gif", :width => "78"}/
                %p In Japanese products have found elevated levels of radiation
                .more
                  %a{:href => "#"} more
          %h6 Popular News
          .block.sm-news
            %ul
              %li
                %h3 Tymoshenko: Yanukovych personally released me in Brussels
                %span view: 2157
              %li
                %h3 Tymoshenko told a meeting with Gaddafi
                %span view: 2385
              %li
                %h3 Tymoshenko: I will admit its human error
                %span view: 2385
        / R I G H T
        .clear
      / C O N T E N T  end
    / /main styles
    / F O O T E R  start
    .footer
      .f-in
        %p= link_to("© Copyright 2009-#{Time.now.year} Face IT",'http://faceit-team.com/',:style => 'text-decoration: none; color:#e8e8e8;')
    / F O O T E R  end

