!!!
%html{:dir => "ltr", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Авто магазин
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "", :name => "keywords"}/
    %meta{:content => "", :name => "description"}/
    = javascript_include_tag :application
    = stylesheet_link_tag :application
    = csrf_meta_tag
  %body
    / main styles
    .main.index
      / H E A D E R  start
      .header
        %a.logo{:href => "/"} Авто магазин
        .h-search
          .rel
            = form_for(:search, :url => search_by_products_search_path(:id),:id => 'mainForm') do |f|
              =f.text_field("req", :class =>'h-field', :value=>"")
              =f.submit("",:class => 'h-but')
              / H E A D E R  end
      / C O N T E N T  start
      .content
        .leftmenu
          .menu_left
          .menu_fill
            .leftlink{:onclick => "showCategory('#groups',$(this))",:style => @current_menu_is_group ? "color: #B0D323" : "color: #A9AAAA"}
              Группы
            .separator
            .rightlink{:onclick => "showCategory('#brends',$(this))",:style => !@current_menu_is_group ? "color: #B0D323" : "color: #A9AAAA"}
              Бренды
          .menu_right
          .clear
        .rightmenu
          .menu_left
          .menu_fill
            / h-menu start
            .h-menu
              %ul
                %li{has_active_class?(custom_views_path(:page_name=>"Контакты"))}
                  %a{:href => "#{custom_views_path(:page_name=>"Контакты")}"} Контакты
                .separator
                %li{has_active_class?(custom_views_path(:page_name=>"FAQ"))}
                  %a{:href => "#{custom_views_path(:page_name=>"FAQ")}"} FAQ
                .separator
                %li{has_active_class?(backcalls_path)}
                  %a{:href => "#{backcalls_path}" } Отзывы
            / h-menu end
          .menu_right
          .clear
        .center
          = yield
        -#.clear
        .left
          .block.l-menu
            %div
              %h6
              %div#groups.category{:style => !@current_menu_is_group ? "display:none" : "" }
                %ul
                - @groups.each do |group|
                  %li= link_to group.name, group_path(group)

              %div#brends.category{:style => @current_menu_is_group ? "display:none" : "" }
                - @companies.each do |company|
                  %li= link_to company.name, company_path(company)

        .right
          #user_panel.block
            - if user_signed_in?
              =link_to('Выход',destroy_user_session_path)
              =link_to('Заказы',orders_path)
              %h6{:style =>"margin: 5px 0 0;"}
            - else
              %h6 Авторизация
              = form_for(:user, :as => 'user', :url => '/users/sign_in') do |f|
                %p
                  = f.label "Емейл"
                  = f.text_field(:email,:class => 'text')
                %p
                  = f.label "Пароль"
                  = f.password_field(:password,:class => 'text')
                -#- if devise_mapping.rememberable?
                -#  %p
                -#  = f.check_box :remember_me
                -#  = f.label :remember_me
                = f.submit("Войти",:class => 'button')

              .reguser
                =link_to('Регистрация',new_user_registration_path,:class => 'button')
              %h6{:style =>"margin: 35px 0 0;"}
            #cart
              #cart_box
                =link_to shop_cart_path(:id), :id=> 'cart_box_list' do
                  =image_tag "shopping_cart.png", :id=> 'cart_box_list_img'
              #cart_info
                %span Позиций :
                %span#order_pos_count=@cart_count
                %br/
                %span Сумма :
                %span#order_sum=@cart_price
                %br/
              .clear
              %br



            .cart_control_links
              = link_to 'Ваш заказ',shop_cart_path(:id)
              = link_to 'Отменить',shop_cart_path(:id),:method => "delete"

        .clear
      / C O N T E N T  end
    / /main styles
    / F O O T E R  start
    .footer
      .f-in
        %p= link_to("© Copyright 2009-#{Time.now.year} Face IT",'http://faceit-team.com/',:style => 'text-decoration: none; color:#e8e8e8;')
    / F O O T E R  end

