!!!
%html
  %head
    %title Авто портал
    =stylesheet_link_tag "application"
    =javascript_include_tag "application"
    =csrf_meta_tags

  %body
    #content
      #titlediv

        .inline_div_left
          =link_to 'Авто портал',root_path, :id=>'titlediv'

        .inline_div_right
          =form_for :search_form, :url=>'/index' do |f|
            =f.text_field 'search_str'
            =f.submit('',:id => 'search_submit')
        .cleaner

      %div.flash
        -flash.each do |type, message|
          .message{:class => "#{type}"}
            %p=message

      #leftsidebar.piece
        #m-navigation
          %h6
            = link_to_function "Группы","showCategory('#groups')"
            |
            = link_to_function "Бренды","showCategory('#brends')"
          %div
            %div#groups.category
              %ul
              - @groups.each do |group|
                %li= link_to group.name, group_path(group)
            %div#brends.category{:style => "display:none"}
              - @companies.each do |company|
                %li= link_to company.name, "#"

      #centerbar
        .content
          =yield

      #rightsidebar

      .cleaner

    #m-footer
      #copy
        Copyright &copy; 2009 - #{Time.now.year} Face It.
